{ margin: 0; padding: 0; }
/* no scroll zone */
body{
  overflow-x: hidden;
  overflow-y: scroll;
}
#all{
       position: absolute;
       top: 0%; /* Header Height */
       bottom: 10%; /* F10ooter Height */
       width: 100%;
    }

/* Footer position */
.left-footer {
	width:100%;
	margin-left: 1%;
	position:absolute;
    bottom:0;
	text-align: left;
}
.right-footer {
	width:99%;
	position:absolute;
    bottom:0;
	text-align: right;
}
#box.alert.alert-success {
	z-index: 1;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
	vertical-align: middle;
    width: 45%;
    height: 35%;
}
#goaway {
	margin-top: -2%;
	margin-left: 95%;
	z-index: 999;
}
.panel.panel-default{
	margin-top: 1%;
}
.frame{
	width: 90%;
	height: 90%;
	margin: auto;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
	vertical-align: middle;


}
.leftArrow{
	width:100%;
	height: 14%;
	margin-top: 400%;

}
.rightArrow{
	width:100%;
	height: 14%;
	margin-top: 400%;

}
header{
	margin-left: 6%;
	margin-top: 3%;
	 font-family: "Courier New", Monospace;

}
html {
		/* Background set your image hear */
        background: url('../pictures/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
}
