.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*body {
    background-image: url("images/background.jpg");
}*/

circle:hover{
  fill: orange;
}

.bar:hover {
    fill: pink;
  }

    #tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }


#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    align: center;
}

p.normal {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;

}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

div{
    text-align:center;
}

#svgMain {margin-left:auto; margin-right:auto; display:block;}
