path:hover{
  opacity: 0.5;
}


.boxes {
  width: 100%;
  height: 100%;
}

.table {
  float: left;
  width: 3%;
  height: 100%;
  margin-right: 70%;
}


@media (width: 20%; position: absolute;){
    .box {
        display: block;
        width: 100%;
    }

    .box2 {
      display: table-caption;
    }

    .box1 {
      display: flex;
    }
}



/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%;}
